data/*
ourdata/*
.venv/*
src/*
autocorrelacion_espacial.ipynb
Basic_Strapdown_INS_EuRoC_V2_01.ipynb
Class12092026_Docker.ipynb
geospatial_weights.ipynb
Notebook - Guia de Descarga Datos Parquet.ipynb
uv.lock
w_deptos_reina.gal
Testing.ipynb


!ourdata/ColombiaDepartments.json
!ourdata/Catálogo_Nacional_de_Estaciones_del_IDEAM_20260822.csv